/* save input fild */
#percentage-input {
    width: 100px;
}
/* save button */
  #saving-button{
     width: 80px; 
}
/* for notify error case */
.notify {
    color: #fff;
    margin: 0 auto;
    background: #222436;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    display: none;
}